    {% if employed.avatarName is null %}
        <div class="flex items-center">
            <div class="bg-gray-200 p-2 rounded-lg min-h-12 max-h-12 w-12 text-gray-50">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M5.121 17.804A8.962 8.962 0 0112 15a8.962 8.962 0 016.879 2.804M12 12a4 4 0 100-8 4 4 0 000 8z" />
                </svg>
            </div>
        </div>
        <div class="flex items-center">
            <label class="block my-1">
                <span class="sr-only">Choisir votre RIB</span>
                <input
                        name="{{ field_name(form.avatarFile) }}"
                        value="{{ field_value(form.avatarFile) }}"
                        type="file"
                        class="w-full text-xs bg-gray-50 text-slate-900 border-solid border-[1px] rounded file:mr-4 file:py-1 file:px-2 file:rounded-s file:border-0 file:text-xs file:font-semibold file:bg-gray-50 file:text-gray-800 hover:file:bg-gray-100 active:file:bg-gray-100"/>
            </label>
        </div>
        <div class="flex items-center hidden">
            <div class="form-check form-check-reverse">
                {{ form_label(form.isSupprAvatar, 'J\'accepte', {'label_attr': {'class': 'text-xs', 'for': form.isSupprAvatar.vars.label}}) }}
                {{ form_widget(form.isSupprAvatar,  {'attr': {'class': 'form-check-input'}}) }}
            </div>
        </div>
    {% else %}
        <div class="flex items-center">
            <img src="{{ asset('prescriptors/'~ employed.slug ~ '/' ~ employed.avatarName) }}" alt="avatar_standard" class="rounded-sm max-h-12">
        </div>
        <div class="flex items-center text-xs">
            <p>{{ employed.avatarName }}</p>
        </div>
        <div class="flex items-center text-gray-600 text-xs">
            <a class="openModalWarning" href="{{ path('paps_admin_security_employed_removeavatar', {'id': employed.id}) }}" data-tw-content="DEL_AVATAR">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                </svg>
            </a>
        </div>
        <div class="flex items-center hidden">
            <label class="block my-1">
                <span class="sr-only">Choisir votre RIB</span>
                <input
                        name="{{ field_name(form.avatarFile) }}"
                        value="{{ field_value(form.avatarFile) }}"
                        type="file"
                        class="w-full text-xs bg-gray-50 text-slate-900 border-solid border-[1px] rounded file:mr-4 file:py-1 file:px-2 file:rounded-s file:border-0 file:text-xs file:font-semibold file:bg-gray-50 file:text-gray-800 hover:file:bg-gray-100 active:file:bg-gray-100"/>
            </label>
        </div>
        <div class="flex items-center hidden">
            <div class="form-check form-check-reverse">
                {{ form_label(form.isSupprAvatar, 'J\'accepte', {'label_attr': {'class': 'text-xs', 'for': form.isSupprAvatar.vars.label}}) }}
                {{ form_widget(form.isSupprAvatar,  {'attr': {'class': 'form-check-input'}}) }}
            </div>
        </div>
    {% endif %}
