{% extends 'base.html.twig' %}

{% block title %}Création de compte | PAP's immo{% endblock %}

{% block navbar %}{% endblock %}

{% block content %}
    <div class="h-screen flex flex-col items-center justify-center ">
        {{ form_start(registrationForm) }}


        <div class="w-full max-w-xs bg-white p-4 rounded-lg shadow-md">
            <h2 class="text-xl font-bold text-gray-800 text-center mb-4">Création de votre compte</h2>
            {% for message in app.flashes('verify_email_error') %}
                <div class="bg-red-100 text-red-700 px-4 py-2 rounded mb-4 text-xs">
                    {{ message }}
                </div>
            {% endfor %}
            {% include 'composants/utils/errors.html.twig' with { 'errors': registrationForm.email.vars.errors } %}
            {% include 'composants/utils/errors.html.twig' with { 'errors': registrationForm.password.vars.errors } %}


            <div class="mb-2">
                {{ form_label(registrationForm.numCollaborator, null, {'label_attr': {'class': 'block text-sm font-medium text-emerald-900', 'for': registrationForm.numCollaborator.vars.label}}) }}
                {{ form_widget(registrationForm.numCollaborator,  {'attr': {'class': 'w-full text-sm px-2 py-1 border-emerald-700 border border-[1px] rounded text-gray-700 focus:outline-none focus:ring-1 focus:ring-blue-200', 'placeholder':'000000'}}) }}
            </div>

            <div class="flex flex-col items-left gap-0 mb-2">
                {{ form_label(registrationForm.firstName, null, {'label_attr': {'class': 'block text-sm font-medium text-gray-700', 'for': registrationForm.numCollaborator.vars.label}}) }}
                <div class="flex flex-row justify-start px-2 border-x border-t rounded-t">
                    {% for label, value, choice in field_choices(registrationForm.civility) %}
                        <div class="mb-[0.125rem] me-4 inline-block min-h-[1.5rem]">
                            <input class="h-3 w-3 text-blue-600 border-gray-300 rounded focus:ring-blue-500" type="radio" name="{{ field_name(registrationForm.civility) }}" id="inlineRadio1" value="">
                            <label class="ml-2 text-sm text-gray-700" for="inlineRadio1">{{ label }}</label>
                        </div>
                    {% endfor %}
                </div>
                {{ form_widget(registrationForm.firstName,  {'attr': {'class': 'block w-full text-sm px-2 py-1 border-x border-t text-gray-700 focus:outline-none focus:ring-1 focus:ring-blue-200 focus:z-10', 'placeholder':'Prénom'}}) }}
                {{ form_widget(registrationForm.lastName,  {'attr': {'class': 'block w-full text-sm px-2 py-1 border rounded-b text-gray-700 focus:outline-none focus:ring-1 focus:ring-blue-200', 'placeholder':'Nom'}}) }}
            </div>
            <div class="mb-2">
                {{ form_label(registrationForm.email, null, {'label_attr': {'class': 'block text-sm font-medium text-gray-700', 'for': registrationForm.email.vars.label}}) }}
                {{ form_widget(registrationForm.email,  {'attr': {'class': 'w-full text-sm px-2 py-1 border rounded text-gray-700 focus:outline-none focus:ring-1 focus:ring-blue-200', 'placeholder':'Votre e-mail'}}) }}
            </div>
            <div class="mb-2">
                {{ form_label(registrationForm.gsm, null, {'label_attr': {'class': 'block text-sm font-medium text-gray-700', 'for': registrationForm.gsm.vars.label}}) }}
                {{ form_widget(registrationForm.gsm,  {'attr': {'class': 'w-full text-sm px-2 py-1 border rounded text-gray-700 focus:outline-none focus:ring-1 focus:ring-blue-200', 'placeholder':'0000000000'}}) }}
            </div>
            <div class="mb-2">
                {{ form_label(registrationForm.password, null, {'label_attr': {'class': 'block text-sm font-medium text-gray-700', 'for': registrationForm.password.vars.label}}) }}
                {{ form_widget(registrationForm.password,  {'attr': {'class': 'w-full text-sm px-2 py-1 border rounded text-gray-700 focus:outline-none focus:ring-1 focus:ring-blue-200'}}) }}
            </div>
            <div class="mb-2">
                <p class="text-xs">En cochant la case ci-dessous, vous acceptez que <b>PAP's immo</b> collecte et traite vos données personnelles conformément à notre <a href="#">Politique de Confidentialité</a>. Vous disposez de droits d'accès, de rectification et de suppression de vos données, que vous pouvez exercer à tout moment..</p>
                <div class="form-check form-check-reverse">
                    {{ form_widget(registrationForm.agreeTerms,  {'attr': {'class': 'form-check-input'}}) }}
                    {{ form_label(registrationForm.agreeTerms, 'J\'accepte', {'label_attr': {'class': 'text-sm', 'for': registrationForm.agreeTerms.vars.label}}) }}
                </div>
            </div>
            <button
                    type="submit"
                    class="w-full bg-blue-600 text-white py-1.5 px-3 text-sm rounded hover:bg-blue-700 active:bg-blue-800 active:shadow-lg focus:outline-none focus:ring-1 focus:ring-blue-300"
            >
                Valider l'inscription
            </button>
            <div class="text-center mt-4">
                <a href="{{ path('paps_admin_security_login') }}" class="text-sm text-blue-600 hover:underline">Retour à la connexion</a>
            </div>
        </div>
        {{ form_end(registrationForm) }}
    </div>


{% endblock %}

{% block footer %}
{% endblock %}
