<!doctype html>
<html>
    <head>
        {{ pwa() }}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.14.8/dist/cdn.min.js"></script>
            <script type="application/javascript" src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
            <script>
                document.addEventListener('DOMContentLoaded', () => {
                    {% for type, messages in app.flashes %}
                    {% for message in messages %}
                    import('{{ asset('js/component/function.js') }}').then(({ showToast }) => {
                        showToast('{{ message }}', '{{ type }}');
                    });
                    {% endfor %}
                    {% endfor %}
                });
            </script>
        {% endblock %}
    </head>
    <body class="bg-gray-100">
        {% block navbar %}
            {{ include('gestapp/app/include/navbar.html.twig') }}
        {% endblock %}
        {% block content %}
        {% endblock %}
        {% block footer %}
            {{ include('gestapp/app/include/footerbar.html.twig') }}
        {% endblock %}
        {% block modals %}
            <div>
                {{ include('composants/utils/modalWarning.html.twig') }}
                {{ include('composants/utils/toast.html.twig') }}
            </div>
        {% endblock %}
    </body>
</html>
